template(name='home')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            // .ui.icon.button.add_role
            //     i.plus.icon
            // each role_docs
            //     +role_picker
            unless currentUser
                .ui.small.inline.header pick perspective
                +role_picker name='italian' 
                +role_picker name='chinese' 
                +role_picker name='american' 
                +role_picker name='spanish' 
                +role_picker name='pastry' 
                +role_picker name='roof_bar' 
                +role_picker name='bar' 
                +role_picker name='porters' 
                +role_picker name='admin' 
            +requests
            +items
            
            
template(name='items')            
    div
    .ui.inline.header 
        |items
    i.plus.circular.link.icon.add_item
    .ui.list
        each item_docs
            +item_item
    div



template(name='item_item')
    if session_is 'editing_item' _id
        .item
            +image_edit key='image_id' direct=true
            .content
                +text_edit key='title' direct=true
                i.checkmark.circular.link.green.icon.save_item            
    else
        .item
            img.ui.tiny.image(src="{{c.url image_id width=500 height=500 gravity='face' crop='fill'}}")
            .content
                .ui.header #{title}
                if currentUser
                    .ui.button.request_item
                        i.dolly.icon
                        |request
                else 
                    .ui.disabled.button.request_item
                        i.dolly.icon
                        |request
                if in_quicklist
                    .ui.button.remove_quicklist
                else
                    .ui.button
                        i.plus.icon
                        | quicklist
                i.pencil.circular.link.icon.edit_item            




template(name='role_picker')
    .ui.big.button.pick_user
        |#{name}
        
        
        
template(name='requests')
    unless is currentUser.username 'porters'
        .ui.padded.stackable.grid
            .sixteen.wide.column
                .ui.inline.header 
                    i.bullhorn.icon
                    |#{your_request_docs.count} your requests
                .ui.list
                    each your_request_docs
                        +request_item
    .ui.padded.stackable.grid
        .sixteen.wide.column
            .ui.inline.header 
                i.bullhorn.icon
                |#{request_docs.count} requests
            .ui.list
                each request_docs
                    +request_item

template(name='transfers')
    .ui.padded.stackable.grid
        .sixteen.wide.column
            .ui.inline.header 
                i.exchange.icon
                |#{request_docs.count} requests
            .ui.large.selection.link.animated.list
                each request_docs
                    +request_item

template(name='request_item')
    .item
        img.ui.tiny.image(src="{{c.url item_image_id width=500 height=500 gravity='face' crop='fill'}}")
        .content
            .ui.header
                |#{item_title} 
                i.large.chevron.right.icon
                |#{_author_username}
            |#{when}
            .ui.label(class=request_class)
                |#{status}
            if is_requested
                if is_porters
                    .ui.big.button.pick_up
                        |pick up
                if is_requester
                    .ui.basic.red.button.cancel_request
                        i.remove.icon
                        |cancel
            else if is_processing
                |picked up {{from_now pick_up_timestamp}}
                if is_requester
                    .ui.green.button.mark_delivered
                        |mark delivered
                // if key_value_is _author_username currentUser.username
            else if is_delivered
                | picked up {{from_now pick_up_timestamp}}
                |, delivered {{from_now delivered_timestamp}}
                |, ({{delivery_time}} mins)