template(name='nav')
    #topnav.topnav.ui.attached.inverted.borderless.menu(style="background-color:#062639;")
        if is_loading
            .icon.item
                i.big.loading.grey.food.icon.cancel
        else 
            a.icon.item.toggle_leftbar.no_blink
               i.bars.icon 
        a.image.item.zoomer(href='/' class="{{isActivePath '/'}}" title='Rosetta Hall')
            img.ui.avatar.image(src="https://d2s742iet3d3t1.cloudfront.net/restaurants/restaurant-33707000000000000/restaurant_1619610434.jpg")
        a.item.zoomer(href='/requests' class="{{isActivePath '/requests'}}")
            i.bullhorn.icon
            .mobile.hidden #{requests.count} requests
        // a.item.zoomer(href='/dishes' class="{{isActivePath '/dishes'}}")
        //     i.food.icon
        //     .mobile.hidden #{dishes.count} dishes
        // a.item.zoomer(href='/products' class="{{isActivePath '/products'}}")
        //     i.shop.icon
        //     .mobile.hidden shop
        a.item.zoomer(href='/work' class="{{isActivePath '/work'}}")
            i.large.wrench.icon
            .mobile.hidden work
        a.item.zoomer(href='/porters' class="{{isActivePath '/porters'}}")
            i.large.dolly.icon
            .mobile.hidden porters
        a.item.zoomer(href='/stations' class="{{isActivePath '/stations'}}")
            i.large.store.icon
            .mobile.hidden stations
        a.item.zoomer(href='/shop' class="{{isActivePath '/shop'}}")
            i.large.shop.icon
            .mobile.hidden store
        a.icon.item.zoomer(href='/users' class="{{isActivePath '/users'}}")
            i.large.users.icon
        .right.menu
            if currentUser
                // a.icon.item.toggle_topbar(title='alerts')
                //     i.bell.outline.icon
                //     i.alerts.icon
                a.item(href="/user/#{currentUser.username}/points" class="{{isActiveRoute regex='user_points'}}")
                    i.wallet.icon
                    strong {{int currentUser.points}}p
                a.icon.item.toggle_rightbar.no_blink
                    if currentUser.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.image_id width=200 height=200 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    strong.mobile.hidden #{currentUser.name}
            unless currentUser
                if subs_ready
                    a.item(href='/login' title='login') 
                        i.sign.in.icon
                        // +i name='internal'
                        span.mobile.hidden login
                else 
                    i.food.loading.icon
                
                
                

template(name='topbar')
    .ui.fluid.attached.inverted.segment.topbar.top.sidebar(style="background-color:#062639;")
        .ui.middle.aligned.divided.list
        .ui.list
            each recent_alerts
                +recent_alert
        a.ui.basic.button.item.close_topbar(href="/inbox")
            i.inbox.icon
            |inbox
        
template(name='recent_alert')        
    .item.alert
        .right.floated.content
            i.eye.link.icon.mark_read(title='mark read')
        img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
        .content
            .header
                |#{description} 
            .description #{author.name} #{when}
            
            
            
            
template(name='cartbar')
    .ui.right.wide.sidebar.cartbar
        +cart
        
template(name='walletbar')
    .ui.right.sidebar.walletbar
        +user_credit
        
template(name='right_sidebar')
    .ui.right.sidebar.vertical.inverted.menu.rightbar(style="background-color:#062639;")
        a.item.toggle_rightbar.no_blink(href="/user/#{currentUser.username}" class="{{isActiveRoute 'user_layout'}}")
            img.ui.avatar.compact.image(src="{{c.url currentUser.image_id height=200 width=200 gravity='face' crop='fill'}}")
            |#{currentUser.username}
        with currentUser
            a.item.toggle_rightbar(href="/user/#{username}" class="{{isActiveRoute regex='user_dashboard'}}")
                // +i name='dashboard' cl='ui avatar image'
                i.dashboard.icon
                |dashboard
            a.item.toggle_rightbar(href="/user/#{username}/points" class="{{isActiveRoute regex='user_points'}}")
                // +i name='money' cl='ui avatar image'
                i.coins.icon
                |points
            a.item.toggle_rightbar(href="/user/#{username}/orders" class="{{isActiveRoute 'user_orders'}}")
                // +i name='check' cl='ui avatar image'
                i.money.icon
                |orders
            // a.item.toggle_rightbar(href="/user/#{username}/subscriptions" class="{{isActiveRoute 'user_subscriptions'}}")
            //     // +i name='clock' cl='ui avatar image'
            //     i.clock.icon
            //     |subscriptions
            // a.item.toggle_rightbar(href="/user/#{username}/pantry" class="{{isActiveRoute 'user_pantry'}}")
            //     // +i name='cupboard' cl='ui avatar image'
            //     i.food.icon
            //     |pantry
            a.item.toggle_rightbar(href="/user/#{username}/friends" class="{{isActiveRoute 'user_friends'}}")
                // +i name='friends' cl='ui avatar image'
                i.users.icon
                |friends
            a.item.toggle_rightbar(href="/user/#{username}/cart" class="{{isActiveRoute 'user_cart'}}")
                i.cart.icon
                // +i name='shopping-cart' cl='ui avatar image'
                |cart
            // a.item.toggle_rightbar(href="/user/#{username}/giftcards" class="{{isActiveRoute 'user_giftcards'}}")
            //     +i name='certificate' cl='ui avatar image'
            //     |gift cards
        // .ui.divider
        a.item.toggle_rightbar.no_blink(href="/user/#{currentUser.username}/edit" title='edit your account')
            // +i name='settings' cl='ui avatar image'
            // i.cog.icon
            i.cog.icon
            |settings
        a.item.logout
            if is_logging_out
                i.refresh.loading.icon
            else
                // +i name='exit-sign' cl='ui avatar image'
                i.sign.out.icon
            |logout



template(name='left_sidebar')
    .ui.left.sidebar.vertical.inverted.large.menu(style="background-color:#062639;")
        a.item.toggle_leftbar.no_blink(href='/' class="{{isActivePath '/'}}" title='home')
            img.ui.image(src="https://rosettahall.com/wp-content/uploads/2020/12/Rosetta-White-Transparent-Art-Board.png")
        // .search.item(title='search')
        //     .ui.icon.transparent.input
        //         i.search.icon
        //         input.search_global(type='text')
        a.item.toggle_leftbar(href='/shop' class="{{isActivePath '/shop'}}" title='shop')
            i.shop.icon
            | #{product_count} products
        a.item.toggle_leftbar(href='/dishes' class="{{isActivePath '/dishes'}}")
            i.food.icon
            |#{recipe_count} dishes
        a.item.zoomer.toggle_leftbar(href='/items' class="{{isActivePath '/items'}}")
            i.food.icon
            | #{items.count} items
        a.item.zoomer.toggle_leftbar(href='/tasks' class="{{isActivePath '/tasks'}}")
            i.tasks.icon
            | #{tasks.count} tasks
        a.icon.item.zoomer.toggle_leftbar(href='/locations' class="{{isActivePath '/locations'}}")
            i.marker.icon
            |locations
        a.item.toggle_leftbar.zoomer(href='/stations' class="{{isActivePath '/stations'}}" title='posts')
            i.store.icon
            | #{post_count} stations
        a.item.toggle_leftbar.zoomer(href='/users' class="{{isActivePath '/users'}}")
            i.users.icon
            | #{users.count} users
        if is_in_admin
            a.icon.item.toggle_admin.toggle_leftbar.no_blink
                |toggle admin
                if is_admin
                    i.shield.icon
                else
                    i.shield.icon
        if is_admin
            .divider
            a.item.set_model.toggle_leftbar.no_blink(href="/m/model" class="{{isActivePath '/m/model'}}")
                i.shield.icon
                |admin
            a.item.set_user.toggle_leftbar.no_blink(href="/users" class="{{isActiveRoute '/users'}}")
                i.users.icon
                | users
            a.item.toggle_leftbar.zoomer(href='/orders' class="{{isActivePath '/orders'}}" title='orders')
                i.list.icon
                | orders