template(name='nav')
    .ui.attached.big.borderless.inverted.menu
        a.item.zoomer(href='/' class="{{isActivePath '/'}}" title='food')
            i.home.icon
            .mobile.hidden RH
        a.item.zoomer(href='/requests' class="{{isActivePath '/requests'}}")
            i.bullhorn.icon
            .mobile.hidden #{requests.count} requests
        a.item.zoomer(href='/users' class="{{isActivePath '/users'}}")
            i.users.icon
            .mobile.hidden #{users.count} users
        // if is_admin
        a.item.zoomer(href='/recipes' class="{{isActivePath '/recipes'}}")
            i.food.icon
            .mobile.hidden #{recipes.count} recipes
        a.item.zoomer(href='/products' class="{{isActivePath '/products'}}")
            i.shop.icon
            .mobile.hidden shop
        // if is_admin
        a.item.zoomer(href='/work' class="{{isActivePath '/work'}}")
            i.list.icon
            .mobile.hidden work
        // a.item.zoomer(href='/items' class="{{isActivePath '/items'}}")
        //     i.food.icon
        //     .mobile.hidden #{items.count} items
        if currentUser
            a.item(href="/user/#{currentUser.username}" class=user_nav_button_class title=user_nav_button_title)
                if currentUser.image_id
                    img.ui.avatar.image(src="{{c.url currentUser.image_id width=100 height=100 gravity='face' crop='fill'}}")
                else
                    i.user.icon
                span #{currentUser.username}
            a.icon.item.logout
                i.sign.out.alternate.icon
                
                
