template(name='user_layout')
    +nav
    with user_from_username_param
        .ui.stackable.padded.grid
            .row
                //- img.ui.image.checkin_banner(src="{{c.url banner_image width=1000 height=1000 crop='crop'}}")
                .four.wide.column
                    a.item.mobile.hidden(href="/user/#{username}")
                        img.ui.centered.rounded.image(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}")
                    .spacer
                    a(href="/user/#{username}")
                        .ui.center.aligned.header
                            | #{username}
                    .ui.two.column.middle.aligned.grid.mobile.only
                        .column
                            img.ui.small.inline.image.mobile.only(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}")
                        .column
                            .ui.inline.header
                                strong #{username}
                    if is_current_user
                        a.ui.basic.circular.icon.button(href="/user/#{user_from_username_param.username}/edit" title='profile settings')
                            i.cog.icon
                    if is_current_user
                        .ui.basic.button.logout
                            i.sign.out.alternate.icon
                            |log out
                .twelve.wide.column
                    a.ui.basic.button(href="/user/#{username}/requests" class="{{isActiveRoute 'user_requests'}}")
                        i.bullhorn.icon
                        |requests
                    a.ui.basic.button(href="/user/#{username}/quicklist" class="{{isActiveRoute 'user_quicklist'}}")
                        i.lightning.icon
                        |quicklist
                    a.ui.basic.button(href="/user/#{username}/menu" class="{{isActiveRoute 'user_menu'}}")
                        i.lightning.icon
                        |menu
                    div.global_container
                        .spacer
                        +yield


template(name='user_dashboard')
    +user_requests
    +user_quicklist
    +user_menu
    
template(name='user_requests')  
    .ui.header #{user_from_username_param.name} requests
template(name='user_quicklist')    
    .ui.header #{user_from_username_param.name} quicklist
template(name='user_menu')    
    .ui.header #{user_from_username_param.name} menu
    


template(name='user_edit')
    with user_from_username_param          
        //- img.ui.fluid.image.checkin_banner(src="{{c.url banner_image_id width=1000 height=500 crop='crop'}}")    
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    .ui.center.aligned.large.inline.grey.header
                        | #{user_from_username_param.username}
                    a.ui.big.circular.icon.green.button(href="/user/#{user_from_username_param.username}/") 
                        i.checkmark.big.icon
                    .ui.hidden.divider
                    +image_edit key='image_id' title='image' direct=true
                .twelve.wide.column
                    +text_edit key='name' label='name' direct=true
                    +text_edit key='icon' label='icon' direct=true