template(name='admin')
    .ui.stackable.padded.grid
        .ui.sixteen.wide.column
            .ui.header
                i.shield.icon
                |admin
        .eight.wide.column
            .ui.header
                i.tasks.icon
                |tasks
            .ui.large.list
                each admin_tasks
                    .item 
                        .content
                            a.header(href="/task/#{_id}") #{body}
                            .ui.basic.label(title='pathname root') #{pathname_root}
                            a(href='/task/#{_id}')
                                i.chevron.right.large.circular.link.icon
                            +mark_read_button
                            +voting_full
        .eight.wide.column
            .ui.header 
                i.content.icon
                |notes
            .ui.large.list
                each admin_notes
                    .item 
                        .content
                            .header #{body}
                            .ui.basic.label(title='pathname root') #{pathname_root}
                            a(href='/note/#{_id}')
                                i.chevron.right.large.circular.link.icon
                            +voting_full
        .eight.wide.column
            .ui.header 
                i.globe.icon
                |global event log
            .ui.header 
                i.circular.user.green.icon
                |online users
                
                
                
template(name='mark_read_button')
    i.eye.circular.mark_read(class=mark_read_class)



template(name='admin_footer')
    .ui.fluid.red.segment
        span.pointer.toggle_admin_view
            a.ui.inline.header 
                i.shield.icon
                |admin
        div
        if session_is 'view_admin' true
            .ui.large.basic.label 
                |current route:
                |#{current_route}
            .ui.large.basic.label
                |pathname root:
                |#{pathname_root}
            .ui.inline.header
                i.content.icon
                |notes
            i.plus.circular.link.icon.add_admin_note
            .ui.list
                each admin_notes
                    if is_editing
                        +textarea_edit key='body' label='body' direct=true
                        i.checkmark.circular.green.link.big.icon.save
                        i.remove.circular.red.link.icon.delete
                    else
                        .item 
                            |#{body}
                            .ui.label #{_author_username}
                        i.pencil.circular.link.icon.edit
            .ui.inline.header
                i.tasks.icon
                |tasks
            i.plus.circular.link.icon.add_admin_task
            .ui.selection.list
                each admin_tasks
                    if is_editing   
                        +text_edit key='body' direct=true
                        i.checkmark.circular.green.link.big.icon.save
                        i.remove.circular.red.link.icon.delete
                    else
                        i.pencil.circular.link.icon.edit
                        .ui.inline.header #{body}
                        .ui.label #{_author_username}
                            


template(name='role_picker')
    .ui.circular.basic.big.compact.button.pick_user
        if icon
            +i name=icon cl='ui avatar image'
        |#{name}
        
        
