template(name='groups')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inline.header 
                i.large.fire.icon
                |groups
            i.plus.circular.link.icon.add_group
            div
            .ui.inline.small.header
                i.tag.icon
                |tags
            each picked_group_tags
                a.ui.blue.label.unpick_group_tag
                    |#{this}
            each group_tag_results
                if title
                    a.ui.basic.circular.small.link.label.pick_group_tag
                        |#{title} 
                        small.ui.grey.text #{count}
        .twelve.wide.column
            span.sorting_row
                // +session_set key='view_users' value='grid' icon='th' 
                // +session_set key='view_users' value='list' icon='list'
                // +session_set key='sort_users_direction' value='-1' icon='chevron down'
                // +session_set key='sort_users_direction' value='1' icon='chevron up'
                // +session_set key='sort_users_key' value='points' icon='coins'
                // +session_set key='sort_users_key' value='created_date' icon='clock'
                // +session_set key='view_limit' value=1
                +search_input model='group' field='title'
                i.large.sort.icon
                .ui.compact.icon.button.set_sort_direction(title='toggle sort direction')
                    if sorting_up
                        i.sort.amount.down.icon
                    else
                        i.sort.amount.up.icon
                |&nbsp;
                |&nbsp;
                .spacer 
        
            span.ui.doubling.cards.scrolling
                each group_docs
                    +group_card
                 
                 

template(name='group_card')                    
    a.ui.card.fly_left(href="/group/#{_id}") 
        img.ui.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
        .content 
            .ui.inline.header 
                |#{title}
            i.grey.tag.icon
            each tags
                .ui.small.basic.label #{this}
            if location_tags
                i.grey.marker.icon
                each location_tags
                    .ui.small.label #{this}
            if people_tags
                i.grey.marker.icon
                each people_tags
                    .ui.small.label #{this}


                
template(name='group_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column
                    .ui.inline.header
                        i.pencil.icon
                        | #{title}
                        small group
                    a.ui.large.icon.green.button(href="/group/#{_id}/" title='save product')
                        i.checkmark.big.icon
                    +text_edit key='title' label='title' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    div
                    if in_dev 
                        +print_this
                .ten.wide.column
                    +html_edit key='description' label='description' direct=true
                    .ui.header 
                        i.user.icon
                        |members
                    +boolean_edit key='has_parent_group' label='has parent group' icon='fork' direct=true
                    if has_parent_group
                        unless parent_group
                            .ui.inline.header
                                i.fork.icon
                                |set parent group
                            each nonparent_groups
                                a.ui.basic.image.big.link.label.set_parent
                                    img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                                    |#{title}
                        with parent_group
                            .ui.inline.header
                                i.fork.icon
                                |parent group
                            .ui.basic.inline.segment
                                .ui.inline.header
                                    img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                                    |#{title}
                                i.circular.minus.link.icon.clear_parent_group
                                i.active.directory.icon
                                each child_groups
                                    .ui.label #{title}
                    .ui.header child groups
                    each child_groups
                        .ui.header #{title}
                    
                    div
                    // +html_edit key='directions' label='directions' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    .ui.red.button.delete_group
                        i.remove.icon   
                        | delete
                
                
template(name='group_layout')
    +nav
    .ui.bottom.attached.pushable.segment
        +topbar
        +left_sidebar
        +right_sidebar
        // +cartbar
        // +walletbar
        // +secnav
        with current_doc
            .ui.stackable.padded.grid
                .row
                    .five.wide.column
                        a.fly_right(href="/groups")
                            i.fire.large.circular.link.icon
                        .ui.inline.header
                            | #{title}
                            small group view
                        +image_view key='image_id' label='image' direct=true
                        div
                        if can_edit
                            a.ui.icon.button(href="/group/#{_id}/edit")
                                i.pencil.large.icon
                        div
                        +html_view key='description' label='description' direct=true
                        +array_view key='tags' label='tags' icon='tags' direct=true
                        div
                        +array_view key='location_tags' label='location tags' icon='marker' direct=true
                        if in_dev
                            +print_this
                    .eleven.wide.column
                        a.ui.basic.button(href="/group/#{_id}/members")
                            i.users.icon
                            |members
                        a.ui.basic.button(href="/group/#{_id}/products")
                            i.cart.icon
                            |products
                        a.ui.basic.button(href="/group/#{_id}/items")
                            i.list.icon
                            |items
                        a.ui.basic.button(href="/group/#{_id}/tasks")
                            i.tasks.icon
                            |tasks
                        a.ui.basic.button(href="/group/#{_id}/work")
                            i.wrench.icon
                            |work
                        a.ui.basic.button(href="/group/#{_id}/relations")
                            i.exchange.icon
                            |relations
                        .scrolling
                            +yield
        +admin_footer           
                        
template(name='group_products')  
    .ui.header 
        i.cart.icon
        |group products
    i.plus.circular.link.icon.add_group_product
    each group_products
        a.ui.header(href="/product/#{_id}")
            |#{title}


template(name='group_view')            
    .ui.header 
        +i name='shopping-cart'
        |products
    .ui.large.selection.link.animated.list
        each group_products
            .item 
                a.ui.header(href="/product/#{_id}") #{title}
    div
    .ui.inline.header 
        +i name='groups'
        |members
    i.circular.plus.link.icon.add_group_member
    // if can_join
    unless is_member
        .ui.basic.button.join
            i.user.plus.green.icon
            |join
    if is_member
        .ui.basic.button.leave
            i.undo.red.icon
            |leave
    .ui.large.selection.link.animated.list
        each group_members
            .item 
                a.ui.header(href="/user/#{username}") 
                    img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                    |#{username}
    div
    if has_parent_group
        .ui.inline.header 
            i.fork.icon
            |parent group
        with parent_group
            a.ui.inline.header(href="/group/#{_id}") 
                img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                |#{title}
    if sibling_groups.count
        .ui.header 
            i.exchange.icon
            |sibling groups
        each sibling_groups
            .ui.small.header 
                |#{title}
                img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
    if child_groups.count
        .ui.header 
            i.fork.icon
            |child groups
        .ui.stackable.three.link.cards
            each child_groups
                a.ui.card(href="/group/#{_id}")
                    img.ui.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                    .content
                        header 
                            |#{title}
    +comments