// template(name='porters')
//     .ui.stackable.padded.grid
//         .sixteen.wide.column
//             .ui.inline.header
//                 i.dolly.icon
//                 |porter tasks
//             .ui.basic.button.add_porter_task
//                 i.plus.icon
//                 |add task
//             each picked_task_tags
//                 .ui.blue.button.unpick_tag
//                     |#{this}
//             each task_tag_results
//                 if title
//                     .ui.basic.circular.small.link.label.pick_tag
//                         |#{title} 
//                         small.ui.grey.text #{count}
                
//             +session_toggle key='admin_mode' icon='shield'
//             .ui.six.doubling.cards
//                 each porter_tasks
//                     .ui.card.log_work(title=description)
//                         img.ui.image.pointer(src="{{c.url image_id width=500 height=500 gravity='face' crop='fill'}}")
//                         .content
//                             .ui.inline.header #{title}
//                             .ui.inline.grey.header +#{points}p
//                             // |#{description}
//                             // each tags
//                             //     .ui.basic.small.label #{this}
//                             each task_locations
//                                 .ui.label #{title}
//                             if session_is 'admin_mode' true
//                                 a.ui.icon.button(href="/task/#{_id}/edit")
//                                     i.pencil.icon
    
    
    