template(name='set_product_sort_key')
    .ui.compact.basic.button.set_sort
        if color
            .ui.label(class=color) #{label}
        else 
            if emoji
                em(data-emoji=emoji)
            else if icon
                i.icon(class=icon)
            |#{label}
        

template(name='set_view_mode_product')
    .item.set_view
        i.icon(class=icon)
        |#{title}


template(name='set_product_limit')
    .item.set_limit #{amount}



template(name='product_card')
    .center.aligned.column.zoomer(class=product_card_class title=ingredients)
        if rescued 
            .ui.top.right.attached.blue.label(title='rescued')
                i.search.icon
        if local 
            .ui.top.right.attached.corner.green.label(title='local')
                i.marker.icon
        a(href="/product/#{_id}") 
            img.ui.rounded.zoomer.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
        .content
            a.ui.inline.header(href="/product/#{_id}") 
                //- |#{_author.name}'s
                | #{title}
            //- if session_is 'view_ingredients' true
            // +ismall name='ingredients'
            // each ingredients
            //     .ui.small.basic.label #{this}
            // if gluten_free
            //     +i name='no-gluten' cl='ui mini inline image' title='gluten free'
            // if vegan
            //     +i name='vegan-food' cl='ui mini inline image' title='vegan'
            //- .ui.inline.small.header tags
            // .content
            //     .right.floated.meta
            //         | {{from_now datetime_available}}
            //     //- if session_is 'view_users' true
            // //- a.image(href="/product/#{_id}")
                
        .content    
            .ui.inline.header 
                |${{fixed price_usd}}
                |#{points}
            // i.big.link.cart.plus.icon.add_to_cart
            |#{group}
            |#{views}
            if is_admin
                a(href="/product/#{_id}/edit")
                    i.pencil.link.icon
            // .ui.inline.small.header 
            //     |(#{menu_section}) 
            // div
            // .ui.inline.inline.small.grey.header #{views}
                // i.eye.icon
            // .ui.inline.inline.small.grey.header #{points} 
                // i.line.chart.icon


template(name='product_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column
                    a.ui.basic.icon.button.fly_right(href="/products")
                        i.large.shop.icon
                    .ui.large.inline.header 
                        //- small viewing
                        | #{title}
                        //- small product
                    if can_edit
                        a(href="/product/#{_id}/edit")
                            i.pencil.blue.large.link.icon
                    // a(href="{{c.url image_id}}" target="_window")
                    img.ui.rounded.fluid.image.zoomer(src="{{c.url image_id}}")
                    div 
                    // +text_view key='size_description' label='size description'  direct=true
                    // +link_view key='product_link' label='link' icon='wordpress' direct=true
                .ten.wide.column
                    .ui.green.basic.large.button.add_to_cart
                        i.cart.plus.large.icon
                        |buy

                    div
                    +html_view key='description' direct=true
                    +array_view key='tags' label='tags' icon='tags' direct=true
                    .ui.header 
                        i.fire.icon
                        |group
                    .ui.header 
                        i.eye.icon
                        |#{views}
                        |views
                    div
                    +voting_full
                    +link_view key='external_link' label='external link' icon='globe' direct=true
                    +comments
                    if in_dev
                        +print_this
        
        
template(name='order_status_icons')  
    a.zoomer(href="/order/#{_id}")
        if runner_viewed
            +icolor name='eye-checked' cl='ui avatar image'
        if preparing
            +icolor name='new-product--v1' cl='ui avatar image'
        if prepared
            +icolor name='handle-with-care' cl='ui inline image'
        if arrived
            +icolor name='checked-truck' cl='ui inline image'
        if delivered
            +icolor name='checkmark' cl='ui inline image'
        
        if delivery_photo
            +image_view key='delivery_photo' direct=true cl='ui tiny inline image'


         
         
         
template(name='product_order_card')
    .ui.segment(class=product_order_class)
        .ui.inline.green.header
            |${{fixed order_price}} 
            if _author.image_id
                img.ui.avatar.image(src="{{c.url _author.image_id width=100 height=100 gravity='face' crop='fill'}}")
            |#{_author.username}
        // div
        .ui.large.basic.label
            i.clock.icon
            |status: #{status}
        .ui.small.inline.header
            | #{when} ({{long_date _timestamp}})
        a.ui.compact.big.icon.button(href="/order/#{_id}")
            i.right.chevron.large.icon
        if is_author
            .ui.small.compact.basic.button.cancel_order(title='cancel')
                i.remove.red.icon
                |cancel



template(name='order_button')
    // if servings_left
    .ui.green.large.button.order_product
        i.cart.plus.large.icon
        strong ${{fixed price_usd}}
        // |order #{serving_unit}
        // small order for
        // strong #{price_franc}f
    // else 
    //     .ui.grey.header sold out
        //- .ui.teal.large.button.join_waitlist
        //-     i.clock.large.icon
        //-     |join wait list




template(name='product_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    .ui.inline.header
                        i.pencil.icon
                        | #{title}
                        small product
                    .ui.large.icon.green.button.save_product(title='save product')
                        i.checkmark.large.icon   
                    +text_edit key='title' label='title' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    div
                    +boolean_edit key='buy_it_now' label='buy it now' direct=true
                    if buy_it_now
                        +number_edit key='price' label='price (points)' direct=true
                    +boolean_edit key='is_auction' label='auction' direct=true
                    if is_auction
                        +number_edit key='minimum_bid' label='minimum bid' direct=true
                        +datetime_edit key='end_datetime' label='end datetime' direct=true
                .eight.wide.column
                    div
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    +html_edit key='description' label='description' direct=true
                .four.wide.column
                    if can_delete
                        .ui.red.button.delete_product
                            i.remove.icon   
                            | delete