template(name='search')
    .ui.padded.grid
        .sixteen.wide.column
            .ui.inline.header
                i.search.icon
                |search:
                strong  #{current_search}
            .ui.selection.animated.link.list
                each search_results
                    a.item(href="/post/#{_id}")
                        .ui.inline.header #{title} 
                        .ui.basic.label
                            i.database.icon
                            |#{model}
                        if _author_username
                            a.ui.basic.label(href="/user/#{_author_username") #{_author_username}
                        if in_dev
                            +print_this
                        |#{when}
                        each tags
                            .ui.label #{this}
                
            
