template(name='staff')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            .ui.inline.header 
                i.wrench.icon
                |staff
            .ui.basic.icon.button.add_staff
                i.large.plus.icon
            // each picked_sections
            //     button.ui.blue.compact.small.button.unpick_section(tabindex='0')
            //         //- i.remove.icon
            //         | #{this}
            // // div
            // +i name='clock' cl='ui inline mini image'
            // each sections
            //     button.ui.compact.basic.button.pick_section(tabindex="0" class=result_class title=count) #{title}
            //         //- small #{count}
            // // unless one_post
            span.sorting_row
                // +session_set key='view_users' value='grid' icon='th' 
                // +session_set key='view_users' value='list' icon='list'
                // +session_set key='sort_users_direction' value='-1' icon='chevron down'
                // +session_set key='sort_users_direction' value='1' icon='chevron up'
                // +session_set key='sort_users_key' value='points' icon='coins'
                // +session_set key='sort_users_key' value='created_date' icon='clock'
                // +session_set key='view_limit' value=1
                +session_set key='view_limit' value=10
                +session_set key='view_limit' value=20
                +session_set key='view_limit' value=50

                
                i.large.sort.icon
                +set_product_sort_key key='price_usd' label='price' icon='money'
                //- +set_product_sort_key key='_timestamp' label='added' icon='clock'
                +set_product_sort_key key='comment_count' label='comment count' icon='chat'
                +set_product_sort_key key='views' label='views' icon='eye'
                +set_product_sort_key key='points' label='points' icon='line chart'
                .ui.compact.icon.button.set_sort_direction(title='toggle sort direction')
                    if sorting_up
                        i.sort.amount.down.icon
                    else
                        i.sort.amount.up.icon
                |&nbsp;
                |&nbsp;
                // .ui.compact.menu
                //     .ui.simple.dropdown.item
                //         strong #{product_limit}
                //         i.dropdown.icon
                //         .menu
                        //   +set_product_limit amount=1
                           +set_product_limit amount=5
                           +set_product_limit amount=10
                            +set_product_limit amount=20
                .spacer 
        
            span.ui.stackable.cards.scrolling
                each model_docs_helper 'staff'
                    a.ui.card(href="/staff/#{first_name}") 
                        img.ui.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
                        .content
                            .ui.header 
                                |#{first_name} #{last_name}
                            |#{title}
                
                
                
template(name='staff_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column
                    .ui.inline.header
                        i.pencil.icon
                        | #{title}
                        small staff
                    a.ui.large.icon.green.button(href="/staff/#{_id}/" title='save product')
                        i.checkmark.big.icon
                    +text_edit key='first_name' label='first name' direct=true
                    +text_edit key='last_name' label='last name' direct=true
                    +text_edit key='title' label='title' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    div
                .ten.wide.column
                    div
                    +textarea_edit key='description' label='description' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    .ui.red.button.delete_staff
                        i.remove.icon   
                        | delete
                
                
template(name='staff_view')
    with current_staff
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.basic.icon.button(href="/staff")
                        i.users.icon
                    .ui.inline.header
                        |#{first_name} #{last_name}
                    .ui.small.header
                        | #{title}
                        small staff view
                    +image_view key='image_id' label='image' direct=true
                    div
                    a.ui.icon.button(href="/staff/#{_id}/edit")
                        i.pencil.icon
                .eight.wide.column
                    .ui.header 
                        |work ranking
                    .ui.header 
                        |work
                    each staff_work
                        .item #{when}
                    +array_view key='tags' label='tags' icon='tags' direct=true
                    if currentUser
                        .ui.button.record_work
                            |record work
                .four.wide.column
                    +html_view key='description' label='description' direct=true
                    +voting_full
                        