template(name='user_points')
    .ui.stackable.one.column.padded.grid
        if is_current_user
            .column
                .ui.inline.header
                    |#{user_from_username_param.points}
                    |points
                .ui.selection.link.animated.divided.list.scrolling
                    each user_work
                        a.item.zoom_out(href="/work/#{_id}") 
                            .content
                                if image_id
                                    img.ui.small.inline.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
                                img.ui.tiny.inline.image(src="{{c.url task_image_id width=400 height=300 crop='pad'}}")
                                .ui.inline.header 
                                    |#{task_title}
                                .ui.inline.header #{task_points}pts
                                if location_image_id
                                    img.ui.tiny.inline.image(src="{{c.url location_image_id width=400 height=300 crop='pad'}}")
                                .ui.inline.header 
                                    |@#{location_title}
                                    
                                .description #{when} {{long_date _timestamp}} for 
                                // if in_dev
                                //     +remove_button